<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>nodejs</title>
  </head>
  <body>
    <%include partials/navigation.ejs %>
    <h1> express y ejs</h1>
  </body>
</html>
